<div class="taskboard container">
  <div class="taskboard clearfix">
    <div class="column">
      <ul class="clearfix">
        <li class="header">Backlog</li>
        <li class="card">Test</li>
      </ul>
    </div>
    <div class="column">
      <ul>
        <li class="header">Assigned</li>
        <li class="card">Test</li>
      </ul>
    </div>
    <div class="column">
      <ul>
        <li class="header">In progress</li>
        <li class="card">Test</li>
        <li class="card">Test</li>
        <li class="card">Test</li>
      </ul></div>
    <div class="column">
      <ul>
        <li class="header">Ready for QA</li>
        <li class="card">Test</li>
      </ul></div>
    <div class="column">
      <ul>
        <li class="header">Blocked</li>
        <li class="card">Test</li>
      </ul>
    </div>
    <div class="column">
      <ul>
        <li class="header">Complete</li>
        <li class="card">Test</li>
        <li class="card">Test</li>
      </ul></div>
  </div>
</div>
