<!--The content below is only a placeholder and can be replaced.-->

<div class="sixteen column row">
  <div class="sixteen wide column">
    <div class="global_nav" style="">
      <a class="ui item rd-triggerNav" style="float: left;"><button class="hamburger hamburger--spin" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></a><div class="ui item feedbackIcon" id="feedback_button"><i class="small star icon visible yellow" style="display: inline-block !important;"></i><i class="small star icon visible yellow" style="display: inline-block !important;"></i><i class="small star icon visible yellow" style="display: inline-block !important;"></i><i class="small star icon visible yellow" style="display: inline-block !important;"></i><i class="small star half empty icon visible yellow" style="display: inline-block !important;"></i></div>
      <div class="services navlink nomobile"><a href="/county/services.aspx">Services<i class="setting icon"></i></a></div>
      <div class="dept navlink nomobile">Departments &amp; Offices<i class="university icon"></i></div>
      <div class="services navlink mobileonly"><a href="/county/services.aspx"><i class="setting icon"></i></a></div>
      <div class="dept navlink mobileonly"><i class="university icon"></i></div>
      <div style="clear: both;"></div>
    </div>

        </div>
      </div>
<div style="text-align:center">
  <h2>Welcome</h2>
  <p>to Wayne County Department of Information Technology</p>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
     width="642.000000pt" height="374.000000pt" viewBox="0 0 642.000000 374.000000"
     preserveAspectRatio="xMidYMid meet">
    <metadata>
    Created by potrace 1.15, written by Peter Selinger 2001-2017
    </metadata>
    <g transform="translate(0.000000,374.000000) scale(0.100000,-0.100000)"
    fill="#000000" stroke="none">
    <path d="M2320 3691 c0 -11 -30 -80 -66 -152 l-66 -132 -39 -231 -38 -231 6
    -315 c6 -347 4 -333 76 -430 87 -117 190 -222 246 -249 54 -25 56 -28 77 -96
    35 -107 36 -115 21 -115 -10 0 -28 -53 -58 -170 -24 -93 -46 -170 -49 -170 -3
    0 -25 77 -49 170 l-44 170 -78 0 -79 0 0 -260 0 -260 50 0 50 0 0 197 c0 108
    2 194 4 192 2 -2 21 -74 41 -159 60 -257 48 -230 105 -230 43 0 50 3 55 23 3
    12 22 93 43 180 l39 159 6 -63 c4 -34 7 -115 7 -179 0 -109 1 -118 20 -123 11
    -3 20 -13 20 -24 0 -10 14 -60 31 -111 l31 -93 54 -26 c69 -34 88 -26 148 64
    35 53 46 81 51 128 8 61 38 135 55 135 5 0 22 -16 37 -35 15 -19 36 -35 45
    -35 25 0 87 77 127 160 44 91 45 124 12 299 -22 117 -26 127 -64 168 -22 24
    -45 43 -51 43 -12 0 -46 118 -46 158 0 13 8 36 19 50 10 15 39 69 65 121 42
    85 46 100 46 166 0 70 -32 224 -49 234 -4 4 -37 76 -73 162 -62 151 -120 258
    -357 661 -65 110 -67 111 -205 199 -35 22 -82 41 -158 66 -13 4 -18 0 -18 -16z"/>
    <path d="M4470 3700 c-8 -6 -32 -15 -53 -20 -21 -6 -57 -23 -80 -38 -142 -89
    -142 -90 -208 -200 -237 -403 -295 -510 -357 -661 -36 -86 -69 -158 -73 -162
    -17 -10 -49 -164 -49 -234 0 -66 4 -81 46 -166 26 -52 55 -106 65 -121 11 -14
    19 -37 19 -50 0 -40 -34 -158 -46 -158 -6 0 -29 -19 -51 -43 -38 -41 -42 -51
    -64 -168 -33 -175 -32 -208 12 -299 40 -83 102 -160 127 -160 9 0 30 16 45 35
    15 19 32 35 37 35 17 0 47 -74 55 -135 5 -47 16 -75 51 -128 60 -90 79 -98
    148 -64 l54 26 31 93 c17 51 31 100 31 109 0 14 18 17 118 21 126 5 156 14
    204 65 39 41 58 104 58 193 0 182 -77 260 -259 260 l-58 0 32 98 31 97 55 26
    c56 27 160 132 246 249 72 97 70 83 76 430 l6 315 -38 231 -39 231 -66 132
    c-36 72 -66 140 -66 151 0 22 -16 25 -40 10z m-26 -2089 c45 -42 58 -182 24
    -257 -17 -37 -58 -54 -133 -54 l-65 0 0 171 0 171 74 -4 c62 -3 79 -7 100 -27z"/>
    <path d="M255 1741 c-81 -21 -115 -62 -115 -139 0 -50 3 -58 38 -92 30 -30 53
    -41 122 -59 104 -28 130 -43 130 -77 0 -93 -168 -101 -202 -9 -10 29 -16 35
    -33 31 -11 -3 -32 -6 -47 -6 -22 0 -28 -5 -28 -22 0 -35 41 -100 78 -124 61
    -41 196 -43 261 -3 91 55 96 206 9 263 -13 8 -63 26 -113 40 -119 33 -154 75
    -89 105 60 27 144 2 144 -44 0 -12 13 -15 56 -15 l57 0 -7 33 c-8 41 -35 77
    -73 100 -35 20 -142 30 -188 18z"/>
    <path d="M761 1735 c-54 -17 -107 -66 -133 -124 -26 -57 -28 -188 -4 -246 19
    -45 68 -100 107 -120 74 -39 209 -23 261 32 22 23 58 89 58 107 0 5 -92 37
    -95 33 -1 -1 -8 -17 -15 -36 -25 -62 -99 -88 -160 -56 -47 24 -65 68 -65 160
    0 120 40 175 129 175 37 0 96 -40 96 -65 0 -8 4 -16 8 -19 9 -5 102 13 102 20
    0 21 -34 75 -63 101 -59 52 -139 65 -226 38z"/>
    <path d="M1140 1481 l0 -261 55 0 55 0 0 110 0 110 31 0 c48 0 64 -14 135
    -120 l66 -100 59 0 c32 0 59 2 59 5 0 18 -116 188 -141 208 l-31 24 35 7 c23
    4 47 19 66 42 26 29 31 43 31 85 0 62 -21 103 -63 126 -25 14 -65 18 -194 21
    l-163 4 0 -261z m301 148 c15 -15 19 -28 14 -47 -10 -42 -33 -51 -122 -52
    l-83 0 0 60 0 60 85 0 c73 0 88 -3 106 -21z"/>
    <path d="M1660 1568 c1 -245 13 -287 91 -333 27 -16 52 -20 119 -20 104 0 144
    19 178 85 21 41 22 57 22 242 l0 198 -49 0 -50 0 -3 -196 -3 -196 -28 -24
    c-44 -37 -120 -30 -154 15 -9 11 -12 73 -13 209 l0 192 -55 0 -55 0 0 -172z"/>
    <path d="M4819 1724 c-91 -28 -159 -136 -159 -254 0 -128 75 -237 178 -259 70
    -15 98 -14 161 5 110 32 168 134 159 278 -12 186 -159 286 -339 230z m166 -94
    c45 -28 65 -75 65 -154 0 -115 -42 -176 -127 -183 -54 -5 -100 17 -129 62 -26
    40 -31 170 -7 215 39 74 130 102 198 60z"/>
    <path d="M5401 1731 c-57 -15 -113 -62 -144 -121 -26 -51 -28 -62 -25 -145 5
    -157 66 -234 200 -257 54 -10 76 -9 134 5 38 10 85 29 106 42 l38 25 0 105 0
    105 -115 0 -115 0 0 -45 0 -45 60 0 60 0 0 -35 c0 -30 -5 -37 -40 -55 -78 -40
    -163 -18 -205 52 -14 25 -19 52 -20 108 0 87 18 130 68 160 63 39 168 13 183
    -45 4 -17 12 -24 23 -21 9 2 33 7 54 11 29 5 37 10 33 21 -3 9 -6 20 -6 24 0
    16 -62 81 -92 96 -35 18 -149 27 -197 15z"/>
    <path d="M5961 1731 c-57 -15 -113 -62 -144 -121 -26 -51 -28 -62 -25 -145 5
    -157 66 -234 200 -257 54 -10 76 -9 134 5 38 10 85 29 106 42 l38 25 0 105 0
    105 -115 0 -115 0 0 -45 0 -45 60 0 60 0 0 -35 c0 -30 -5 -37 -40 -55 -78 -40
    -163 -18 -205 52 -14 25 -19 52 -20 108 0 87 18 130 68 160 63 39 168 13 183
    -45 4 -17 12 -24 23 -21 9 2 33 7 54 11 29 5 37 10 33 21 -3 9 -6 20 -6 24 0
    16 -62 81 -92 96 -35 18 -149 27 -197 15z"/>
    <path d="M3207 572 c-80 -61 -103 -95 -116 -176 -14 -81 -9 -126 26 -219 29
    -78 32 -80 148 -98 102 -17 198 -17 300 0 116 18 119 20 148 98 35 93 40 138
    26 219 -13 81 -37 117 -116 175 l-56 42 -152 1 -151 1 -57 -43z"/>
    </g>
  </svg>&copy;
</div>

<app-taskboard></app-taskboard>

<ul>
  <li class="listHeader">Components</li>
  <li class="subHeader">Roles - Team Members (4-9)</li>
  <li class="card member">
    <span class="cardHeader"><i class="user large icon"></i> Team Member</span>
    <div><span class="cardHading">Yesterday</span>Test Test Test Test Test Test Test Test Test Test Test </div>
    <div><span class="cardHading">Today</span>Test</div>
    <div><span class="cardHading">Blockers</span>Test</div>
  </li>
  <li class="card member">
    <span class="cardHeader"><i class="user large icon"></i> Danialle Dube</span>
    <div><span class="cardHading">Yesterday</span>Started Development on ScrumDogg application. Basic outlineing, Worked on Social Media Link component for WC.com.</div>
    <div><span class="cardHading">Today</span>Continuing work On Social Media component, and ScrumDogg application</div>
    <div><span class="cardHading">Blockers</span>None</div>
  </li>
  <li class="subHeader">Roles - Scrum Master (1)</li>
  <li class="card member">
    <span class="cardHeader"><i class="user large icon grey"></i> Scrum Master</span>
    <div><span class="cardHading">Yesterday</span>Test Test Test Test Test Test Test Test Test Test Test </div>
    <div><span class="cardHading">Today</span>Test</div>
    <div><span class="cardHading">Blockers</span>Test</div>
  </li>

  <li class="card member">
    <span class="cardHeader"><i class="user large icon grey"></i> Cix Rush </span>
    <div><span class="cardHading">Yesterday</span>Started Development on ScrumDogg application. Basic outlineing, Worked on Social Media Link component for WC.com.</div>
    <div><span class="cardHading">Today</span>Continuing work On Social Media component, and ScrumDogg application</div>
    <div><span class="cardHading">Blockers</span>None</div>
  </li>
  <li class="subHeader">Roles - Product Owner (1 - 3)</li>

  <li class="card member">
    <span class="cardHeader"><i class="user large icon blue"></i> Product Owner</span>
    <div><span class="cardHading">Yesterday</span>Test Test Test Test Test Test Test Test Test Test Test </div>
    <div><span class="cardHading">Today</span>Test</div>
    <div><span class="cardHading">Blockers</span>Test</div>
  </li>
  <li class="card member">
    <span class="cardHeader"><i class="user large icon blue"></i> Scott Eatmen </span>
    <div><span class="cardHading">Yesterday</span>Started Development on ScrumDogg application. Basic outlineing, Worked on Social Media Link component for WC.com.</div>
    <div><span class="cardHading">Today</span>Continuing work On Social Media component, and ScrumDogg application</div>
    <div><span class="cardHading">Blockers</span>None</div>
  </li>

  <li class="subHeader">Artifacts</li>
  <li class="card"><span class="cardHeader"><i class=""></i> Product Backlog </span>
    Each entry:
    <ul class="normal">
    <li> add value for customer
    <li> prioritized and ordered
    <li> detail depends on position within Backlog
    <li> are estimated
    <li> part of living document
    <li> no action-items or low-level tasks
    </ul>
  </li>
  <li class="card">
  <span class="cardHeader"><i class=""></i> Sprint Backlog </span>
  Sprint Backlog is:
  <ul class="normal">
    <li> List of task id'd by Scrum team
  </ul>
 </li>
  <li class="card">Burndown Chart</li>
  <li class="card">Release Backlog</li>
  <li class="subHeader">Taskboard</li>
  <li class="card">Backlog</li>
  <li class="card">Assigned</li>
  <li class="card">In Progress</li>
  <li class="card">Ready for review</li>
  <li class="card">Quality Assurance</li>
  <li class="card">Blocked</li>
  <li class="card">Completed</li>
  <li class="subHeader">Rituals</li>
  <li class="card">Sprint Planning</li>
  <li class="card">Stand Up</li>
  <li class="card">Review</li>
  <li class="card">Retrospective</li>
</ul>

<p>&nbsp;</p>
<p>&nbsp;</p>
